@model IEnumerable<SettingManagerApp.Domain.Entities.AppConfiguration>

@{
    ViewData["Title"] = "Config List";
}

<h1>Konfigurasyon Listesi</h1>
<!-- Filtreleme Formu -->
<form asp-action="Index" method="get">
    <div class="form-group">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-4">
                <input type="text" name="searchTerm" id="searchTerm" class="form-control" placeholder="İsim Giriniz" />
            </div>
            <div class="col-lg-3 col-md-6 col-sm-8">
                <button type="submit" class="btn btn-primary">Filtrele</button>
                <a asp-action="Index" class="btn btn-secondary">Filtreleri Temizle</a>
            </div>
        </div>

    </div>
</form>

<p class="mt-3">
    <a class="btn btn-primary" asp-action="Create">Yeni Ayar Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationName)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Güncelle</a> |
                    @{
                        if (item.IsActive)
                        {
                            <a class="btn btn-success" asp-action="ToggleActiveProp" asp-route-id="@item.Id">
                                Pasifleştir
                            </a>

                        }
                        else
                        {
                            <a class="btn btn-danger" asp-action="ToggleActiveProp" asp-route-id="@item.Id">
                                Aktifleştir
                            </a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
